<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		
	</head>
	<body>
		<div class="row cattribute-pick">
			<div class="col-md-1"></div>
				<% @cattribute_collection.each do |type, cattributes| %>
					<div data-type="<%= type %>" class="col-md-1 c-pick">
			  			<%= type %>
			  		</div>
			  	<% end %>
			  	<div class="col-md-1"></div>
		</div>
		<div class="row filler-select-row">
			<div class="col-md-1"></div>
				<% @cattribute_collection.each do |type, cattributes| %>
					<div class="col-md-1 trait-list" data-type="<%= type %>"></div>
				<% end %>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="input-group input-group-sm mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="inputGroup-sizing-sm">Combo #</span>
						  </div>
						  <input type="text" class="form-control" id="combo-number" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
						</div>
						
						<div class="input-group input-group-sm mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="inputGroup-sizing-sm">Kitties For Sale</span>
						  </div>
						  <input type="checkbox" class="form-control" id="sale-kitties" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
						</div>
						<div class="input-group input-group-sm mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="inputGroup-sizing-sm">Kitties For Sire</span>
						  </div>
						  <input type="checkbox" class="form-control" id="sire-kitties" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
						</div>
					</div>
					<div class="col-md-4"><button class="btn btn-primary" id="get-combos">Get Combos</button></div>
				</div>
			</div>
			<div class="col-md-4"></div>
		  	<div class="col-md-4"></div>
		</div>
		<div class="row kitty-area">
	  		<div class="col-md-2"></div>
	  		<div class="col-md-8" id="kitty-display"></div>
	  		<div class="col-md-2"></div>
	  	</div>
	</body>
</html>

<style type="text/css">
	.cattribute-pick .col-md-1 {
		padding: 0 !important;
		text-align: center;
		background: #d7e1e4;
		font-size: 19px;
		height: 45px;
    	line-height: 2.3;
	}
	.c-pick:hover {
		cursor: pointer;
		background: #b4bec1;
	}

	.filler-select-row {
		min-height: 100px;
	}

	.category-selector {
		position: absolute;
	}

	.close-div {
		background: #ef7979;
		border: .5px solid black;
		position: absolute;
		height: 25px;
		border-radius: 2%;
		text-align: center;
	}

	.close-div:hover {
		cursor: pointer;
		background: #ce4242;
	}

	.collap-section .col-md-12 {
		height: 60px;
		background: lightgray;
		margin-top: 30px;
		border-top: 10px solid #9f99a5;
		text-align: center;
		line-height: 2;
		font-size: 19px;
	}

	.collap-section .col-md-12:hover {
		cursor: pointer !important;
		background: #9c8bad !important;
	}

	.kitty div {
		display: inline-block !important;
	}

	.result {
		text-align: center;
		border-bottom: solid black .1px;
	}

	.result:hover {
		cursor: pointer !important;
		background: lightgray !important;
	}



	.filler-select-row .col-md-1 {
		margin: 0 !important;
		padding: 0 !important;
	}

	.list-trait {
		height: 24px;
		text-align: center;
	}

	.list-trait:hover {
		cursor: pointer !important;
		background: green !important;
	}

	.chosen-trait {
		border: solid green .5px !important;
	}

	.no-height {
		height: 0px !important;
	}

	.hidden {
		display: none !important;
	}

	.container.the-kitty {
		width: 150px !important;
	}

	div.kitty-id-display {
		text-align: center !important;
		width: 150px !important;
	}
</style>

<script type="text/javascript">
	jQuery(function($){
		var api_key = $('#ck-api-key').data('key');

		var sale_and_sire = "";

		$(document).on('click', '.close-div', function(){
			var type = $(this).data('type');

			$('.category-selector[data-type="'+type+'"]').remove();
			$(this).remove();
		});


		$(document).on('click', "a.nav-link", function (e) {
		    $(this)[0].tab('show');
		});

		$(document).on('focusout', '.trait-search', function(e){
			var type = $(this).data('type');
			$(this).parent().html(type);
		})


		$(document).on('click', '.result', function(){
			var type = $(this).data('type');
			var name = $(this).html();
			var rect = $(this)[0].getBoundingClientRect();

			var trait_list_type = $(this).parent().siblings('.filler-select-row').children('.trait-list[data-type="'+type+'"]');
			if($(trait_list_type).children().length > 0) {
				if($(trait_list_type).children('.list-trait.'+name).length < 1) {
					$(trait_list_type).children('.chosen-trait').removeClass('chosen-trait');
					$(trait_list_type).prepend('<div data-type="'+type+'" class="chosen-trait list-trait '+name+'">'+name+'</div>');
					}
			} else {
				$(trait_list_type).prepend('<div id="result-'+name+'" data-type="'+type+'" class="chosen-trait list-trait '+name+'">'+name+'</div>');
			}

			$('.trait-list[data-type="'+type+'"] div.list-trait').css({
				width: rect.width,
				background: 'lightblue',
			});

			$('body #'+type.replace(" ", "-")+'-results').remove();
			$('.c-pick[data-type="'+type+'"]').html(type);

		});

		$(document).on('click', 'div.list-trait', function(){
			var type = $(this).data('type');

			$(this).siblings().removeClass('chosen-trait');
			$(this).addClass('chosen-trait');
		});




		var cattys = <%= @cattribute_collection.to_json.html_safe %>;

		$('.c-pick').click(function(){
			var rect = this.getBoundingClientRect();
			var type = $(this).data('type');
			
			
			var search_field = '<input id="'+type+'-search" data-type="'+type+'" class="trait-search" type="text" placeholder="Search '+type+'">';


			if($(this).children().length < 1) {
				$(this).html('');
				$(this).append(search_field);
				$(this).children('input').css({
					width: rect.width,
					height: rect.height
				});
				$(this).children('input').focus();
			}
		});

		var cattys_name_array = {};
		for(var key in cattys) {
			cattys_name_array[key] = [];
			for(var i = 0; i < cattys[key].length; i++) {
				cattys_name_array[key].push(cattys[key][i].name);
			}
		}

		$(document).on('input', 'input.trait-search', function(){
			var search = $(this).val().toLowerCase();
			var type = $(this).data('type');
			var id_type = type.replace(" ", "-");
			var catty_search_array = [];
			
			var potential_results = [];

			$('body #'+type.replace(" ", "-")+'-results').remove();
			

			var rect = $(this)[0].getBoundingClientRect();
			var results_box =  'body #'+id_type+'-results';
			if(!($(results_box).length > 0)) {
				$('body').append('<div class="results" id="'+id_type+'-results"></div>');
			}
			
			
			$(results_box).css({
				position: 'absolute',
				left: rect.left,
				top: rect.height,
				width: rect.width,
				background: 'white',
				border: 'solid black .1px'
			});


			var dist_obj = [];

			for(var i = 0; i < cattys_name_array[type].length; i++) {
				dist_obj.push(cattys_name_array[type][i]);
			}

			for(var x = 0; x < dist_obj.length; x++) {
				var name = dist_obj[x];

				if($(this).val().length > name.length) {
					delete dist_obj[x];
				}
				
				var reg = new RegExp('^('+name.substring(0, $(this).val().length)+')', 'gi');
				if(search.match(reg)) {
					if($(this).val().length > name.length) {
						delete dist_obj[x];
					} else {
						$(results_box).append('<div data-type="'+type+'" class="result '+id_type+' '+name+'">'+name+'</div>');
					 	delete dist_obj[x];
					}
				}
			}		
		});

		$('#sale-kitties').change(function(){
			kitties = [];
			$(this).parent().parent().parent().parent().parent().siblings('div.kitty-area').children('div.col-md-8').empty();

			$(this).parent().parent().parent().parent().parent().siblings('div.kitty-area').children('div.col-md-8').children().children().children('.kitty').remove();
			if (this.checked) {
				if(sale_and_sire == "") {
					sale_and_sire = "&include=sale";
				} else if (sale_and_sire = "&include=sire") {
					sale_and_sire = "&include=sire,sale"
				} 
			} else {
				if(sale_and_sire == "") {
					sale_and_sire = "";
				}
			}
		});


		$('#sire-kitties').change(function(){
			kitties = [];
			$(this).parent().parent().parent().parent().parent().siblings('div.kitty-area').children('div.col-md-8').empty();
			$(this).parent().parent().parent().parent().parent().siblings('div.kitty-area').children('div.col-md-8').children().children().children('.kitty').remove();
			if (this.checked) {
				if(sale_and_sire == "") {
					sale_and_sire = "&include=sire";
				} else if (sale_and_sire = "&include=sale") {
					sale_and_sire = "&include=sale,sire"
				} 
			} else {
				if(sale_and_sire == "") {
					sale_and_sire = "";
				}
			}
		});



		var initial_type_array = {};
		var final_type_array = [];
		var final_array = [];
		var combo;


		$('body').on('click', '#get-combos', function(){


			url_string_array = [];

			$(this).parent().parent().parent().parent().siblings('div.kitty-area').children('div.col-md-8').empty();

			var selected_traits = $('.chosen-trait');
			var trait_array = [];
			var combo = $('#combo-number').val();

			
			$(selected_traits).each(function(){
				var name = $(this).html();
				trait_array.push(name);
			});

			getUrlStrings(getPermutations(trait_array, parseInt(combo)));
		});

		function getUniqueComboArray(categories, combo) {

			var object_to_array = [];
			for(var key in categories) {
				object_to_array.push(categories[key]);
			}	
			getUrlStrings(getPermutations(object_to_array, parseInt(combo)));

		}

		function getPermutations(array, size) {

		    function p(t, i) {
		        if (t.length === size) {
		            result.push(t);
		            return;
		        }
		        if (i + 1 > array.length) {
		            return;
		        }
		        p(t.concat(array[i]), i + 1);
		        p(t, i + 1);
		    }

		    var result = [];
		    p([], 0);
		    return result;
		}

		var url_string_array = [];
		function getUrlStrings(final_array) {
			$(final_array).each(function(filtered_key, filtered_value){
				var url_string = "";
				for(var i = 0; i < filtered_value.length; i++) {
					if(url_string == "") {
						url_string = filtered_value[i];
					} else {
						url_string = url_string + ',' + filtered_value[i];
					}
				}
				url_string_array.push(url_string);
				if(filtered_key === final_array.length - 1) {
					makeSections(url_string_array);
				}
			});
		}
		

		$(document).on('click', '.kitty-section', function(e){
			
			if(!($(this).hasClass('traits-requested'))) {
				var url_string = $(this).data('url-string');
				getKitties(url_string, this);
				$(this).addClass('traits-requested');
			} else {
				if(($(e.target).hasClass('for-toggle'))) {
					$(this).children('.row').toggleClass('no-height');
					$(this).children().children('.kitty').toggleClass('hidden');
				}
			}
			
		});

		function makeSections(url_strings) {
			var kitty_display = '#kitty-display';
			
			$(url_strings).each(function(key){
				var display = this.replace(/,/g, " - ");
				display = display.replace(/\b\w/g, l => l.toUpperCase());
				$(kitty_display).append('<div data-url-string="'+this+'" class="row kitty-section"><div class="col-md-12"><div class="row collap-section"><div class="col-md-12 for-toggle">'+display+'</div></div></div></div>');
			});
		}

		var kitties = [];
		function getKitties(url_string, el, offset = 0) {
			if(offset == 0) {
				kitties = [];
			}
			var id_sring = url_string.replace(/,/g, "-");

			$.ajax({
				url: "/dashboard/get_traits",
				data: {url: "https://public.api.cryptokitties.co/v1/kitties?cattributes="+url_string+"&offset="+offset+sale_and_sire},
				success: function(data) {
					if(kitties[url_string] === undefined) {
						kitties[url_string] = [];
					}
					if(data.total > 0) {
						
						$(data.kitties).each(function(){
							if(kitties[url_string].indexOf(this) === -1) {
								kitties[url_string].push(this);
							}
						});

						if(data.total > 12) {
							if(offset == 0) {
								offset = 12;
							}
						} else {
							offset = data.total;
						}

						if((data.total > (offset + 12))) {
							
							getKitties(url_string, el, offset + 12);
							
							$(kitties[url_string]).each(function(){
								var kitty = $(el).children('.row').children('.kitty').children().children('.kitty-'+this.id+'');

							if($(el).children('div.row').length < 1) {
								$(el).append('<div class="row the-kitty"><div class="col-md-12 kitty the-kitty"></div></div>');
							}
								if(kitty.length < 1) { 
									$(el).children('.row').children('.kitty').append('<div class="container the-kitty" width="150px"><a class="kitty-'+this.id+' the-kitty" href="https://www.cryptokitties.co/kitty/'+this.id+'" target="_blank"><img class="the-kitty" width="150" src="'+this.image_url+'"><div class="the-kitty  kitty-id-display">'+this.id+'</div></a></div>');
									delete kitties[url_string];
								}
							});
						} else {
							
							if($(el).children('div.row').length < 1) {
								$(el).append('<div class="row the-kitty"><div class="col-md-12 kitty the-kitty"></div></div>');
							}
							$(kitties[url_string]).each(function(){
								$(el).children('.row').children('.kitty').append('<div class="container the-kitty" width="150px"><a class="the-kitty" href="https://www.cryptokitties.co/kitty/'+this.id+'" target="_blank"><img class="the-kitty kitty-id-display" width="150" src="'+this.image_url+'"><div class="the-kitty kitty-id-display">'+this.id+'</div></a></div>');
								delete kitties[url_string];
							});
						}
					} else {
						$(el).append('<div class="row"><div class="col-md-12"><h4>No Kitties with this combo</h4></div></div>');
					}
					
				}
			});
		}
	});
	
</script>